/* Dark & White mode for sidebar */
.darkmode{
    background: #222!important;
    color: #DDD!important;
    transition: 0.3s;
}

.lightmode{
    /* background: #4e73df!important; */
    transition: 0.3s;
}

.darkmodebtn{
    background: #fff!important;
    color: #DDD!important;
    transition: 0.3s;
}